# --- Intellij ---
/*.iml
/.gradle
/.idea

# --- Eclipse ---
/.settings
/.classpath
/.project

# --- VsCode ---

.vscode

*.log
mb.pid
node_modules
npm-debug.log
.env

# --- Mac ---

.DS_Store

# --- Build ---

/build
/out
/bin

*/build

# --- Generated ---

/api/src/amberleyway/java

# --- Tools ---

dump.rdb

# --- Resources ---

#/app/src/main/resources/logback-spring.xml
